

.Main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    padding: 15px;
 
}

.Intro {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.create-account-form {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin: 10px 0 5px;
    font-weight: bold;
}

.form-input[type="text"],
.form-input[type="email"],
.form-input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.Form-options {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.Form-options label {
    margin-left: 5px;
    font-size: 14px;
}

.form-submit-button[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-submit-button[type="submit"]:hover {
    background-color: #0056b3;
}

.signin-button h3 {
    font-size: 15px;
    display: inline-block;
    margin-right:35px; 

}

.signin-button a{
    padding: 3px 6px;
    background: limegreen;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    display: inline-block;
    text-align: left;
}

.createAccount {
    border: 5px solid gray;
    margin: 2rem 15rem 0rem 15rem;
    background-color: rgba(128, 128, 128, 0);
}