.body{
    background-color: whitesmoke;
}

.admin-login-form {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin:5rem 30rem 0rem 30rem;
    background-color: antiquewhite;
    margin-bottom: 10rem ;
    
}

.admin-login-form h3 {
    margin-bottom: 2rem;
    text-align: center;
}

.admin-form {
    display: flex;
    flex-direction: column;
}

.admin-input {
    padding: 0.7rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.admin-pass {
    display: flex;
    align-items: center;
}

.admin-password-input {
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
}

.admin-visible-icon {
    margin-left: 0.5rem;
    cursor: pointer;
}


.admin-submit-button {
    margin-top: 1.5rem;
    padding: 0.5rem 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
