.form-product {
    background-color: antiquewhite;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.productDetails {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.products-input {
    margin: 0.3rem;
    
}

.products-input label {
    font-weight: bold;
    display: inline-block;
    
}

.products-input input,
.products-input select {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    
}

.checkbox-model {
    display: flex;
    align-items: center;
}

.checkbox {
    margin-right: 10px;
}

.button {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.879);
}

.box {
    font-size: 14px;
}


.Dialog {
    width: 300px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.Diah3 {
    font-family: cursive;
    font-weight: 300;
    color: black;
    text-align: center;
}

.DiaTitle {
    background-color: antiquewhite;
}